.encabezado
{
	
	background: #ee1515;
	border-width: 30px;
	border-color: #050000;
	border-style: solid;
	padding: 30px;
	margin: 30px;
	position: relative;
}

.i1
{
	width: 60%
	
	
}

.i2{
	width: 80%
}

#i3{
	display: inline-block;	
}

.acomodo
{
	display: inline-block;
}